body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    background: #fff;
}

a:link,
a:visited {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    color: #0099ff;
    text-decoration: underline;
    font-weight: 300;
}

/* header and footer areas */
.menu {
    padding: 0;
}

.menu li {
    display: inline-block;
}

.article-meta,
.menu a {
    text-decoration: none;
    /* background: #eee; */
    padding: 5px;
    border-radius: 5px;
}

.menu,
.article-meta,
footer {
    text-align: center;
}

.title {
    font-size: 1.1em;
}

.date {
    font-size: 1em;
    font-weight: 200;
}

.author {
    font-size: 1em;
    font-weight: 200;
}

.article-meta {
    display: inline-block;
    text-align: left;
}

footer a {
    text-decoration: none;
}

hr {
    border-style: dashed;
    color: #ddd;
}

/* code */
pre {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #eee;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}

/* misc elements */
img,
iframe,
video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee;
}
